<template>
  <div>
    <div id="panelUser">
      <div class="icon">
        <img src="../img/radarIcon.png" alt="radar" class="radar" @click="optionSelected(1)" >
        <img src="../img/satelliteIcon.png" alt="satellite" class="satellite" @click="optionSelected(2)">
      </div>
      <li v-bind:style="{ visibility: (lastModeSend === 1) ? 'visible' : 'hidden' }">
        <select id="colors" v-model="optionColorScheme"  v-on:change="updateColorScheme" >
          <option value="0">Black and White Values</option>
          <option value="1">Original</option>
          <option value="2">Universal Blue</option>
          <option value="3">TITAN</option>
          <option value="4">The Weather Channel</option>
          <option value="5">Meteored</option>
          <option value="6">NEXRAD Level-III</option>
          <option value="7">RAINBOW @ SELEX-SI</option>
          <option value="8">Dark Sky</option>
        </select>
      </li>
    </div>
    <div id="map"></div>
    <div class="timeToShow" v-bind:style="{ visibility: (timeToShow === 'No time to show') ? 'hidden' : 'visible' }">
      <p>{{timeToShow}} </p>
    </div>
  </div>
</template>

<script>
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';
import datas from "../data/datas.json";
import museumIcon from "../img/museum-icon-12900.png";


export default {
  mounted() {
    // Initialize the map when the component is mounted
    this.initMap();
  },
  data() {
    return {

      map: null,
      radarLayer : null,
      apiData:null,
      markerLayer: null,
      markerDatas: datas,
      museumIcon : L.icon({
        // Custom icon for museum markers
        iconUrl : museumIcon,
        iconSize : [40, 53],
        popupAnchor : [0, -25]
      }),
      lastModeSend : 0,
      optionColorScheme: 1,
      optionSmoothData : 1,
      optionSnowColors : 1,
      timeToShow : "No time to show",

    };
  },
  methods: {
    // Initialize the Leaflet map
    initMap() {
      this.map = L.map('map').setView([44.5, 0.34], 7);
      this.addTileLayer();
      this.markerLayer = L.layerGroup().addTo(this.map);
      this.map.on("moveend", this.updateMarkers);
      this.updateMarkers();
      this.fetchApiData();
    },

    // Add the OpenStreetMap tile layer
    addTileLayer() {
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(this.map);
    },

    // Fetch weather API data
    fetchApiData() {
      // Use XMLHttpRequest for asynchronous request
      let apiRequest = new XMLHttpRequest();
      apiRequest.open("GET", "https://api.rainviewer.com/public/weather-maps.json", true);
      apiRequest.onload = () => {
        this.apiData = JSON.parse(apiRequest.response);
      };
      apiRequest.send();
    },

    // Update markers on the map based on map movement
    updateMarkers() {
      if (this.markerLayer) {
        this.markerLayer.clearLayers();
      }
      const visibleMarkers = this.calculateVisibleMarkers();
      if (visibleMarkers.length > 0) {
        if (visibleMarkers.length <= 30) {
          this.addMarkersToLayer(visibleMarkers);
        } else {
          this.calculateVisibleMarkersInTile();
        }
      }
    },

    calculateVisibleMarkers() {
      const bounds = this.map.getBounds();
      return this.markerDatas.filter(markerData => {
        const coordinates = markerData.fields.coordonnees_finales;
        return coordinates && bounds.contains(coordinates);
      });
    },

    calculateAverageCoordinates(markers) {
      const totalMarkers = markers.length;
      const sumLat = markers.reduce((sum, marker) => sum + (marker.fields.coordonnees_finales ? marker.fields.coordonnees_finales[0] : 0), 0);
      const sumLng = markers.reduce((sum, marker) => sum + (marker.fields.coordonnees_finales ? marker.fields.coordonnees_finales[1] : 0), 0);

      return [sumLat / totalMarkers, sumLng / totalMarkers];
    },

    addMarkersToLayer(markers) {
      for (const marker of markers) {
        L.marker(marker.fields.coordonnees_finales, { icon: this.museumIcon }).addTo(this.markerLayer)
            .bindPopup(marker.fields.nom_du_musee)
            .closePopup();
      }
    },

    // Calculate visible markers in each map tile
    calculateVisibleMarkersInTile() {
      const visibleMarkers = this.calculateVisibleMarkers();
      const tilesLat = 8;
      const tilesLng = 16;
      const bounds = this.map.getBounds();
      const totalLatTile = (bounds._northEast.lat - bounds._southWest.lat) / tilesLat;
      const totalLngTile = (bounds._northEast.lng - bounds._southWest.lng) / tilesLng;
      for (let tileLat = 0; tileLat < tilesLat; tileLat++) {
        for (let tileLng = 0; tileLng < tilesLng; tileLng++) {
          const printCoor = {
            _southWest: {
              lat: bounds._southWest.lat + totalLatTile * tileLat,
              lng: bounds._southWest.lng + totalLngTile * tileLng},
            _northEast: {
              lat: bounds._southWest.lat + totalLatTile * (tileLat+1),
              lng: bounds._southWest.lng + totalLngTile * (tileLng+1)
            }
          };
          const dataWhoAreInTile = visibleMarkers.filter(markerData => {
            const coordinates = markerData.fields.coordonnees_finales;
            return (
                coordinates &&
                coordinates[0] >= printCoor._southWest.lat &&
                coordinates[0] <= printCoor._northEast.lat &&
                coordinates[1] >= printCoor._southWest.lng &&
                coordinates[1]<= printCoor._northEast.lng
            );
          });
          if (dataWhoAreInTile.length > 0) {
            if (dataWhoAreInTile.length === 1 ){
              L.marker(dataWhoAreInTile[0].fields.coordonnees_finales,{icon: this.museumIcon}).addTo(this.markerLayer)
                  .bindPopup(dataWhoAreInTile[0].fields.nom_du_musee)
                  .closePopup();
            }else{
              const averageCoordinates = this.calculateAverageCoordinates(dataWhoAreInTile);
              L.marker(averageCoordinates,{icon: this.museumIcon}).addTo(this.markerLayer)
                  .bindPopup(`Nombre de musée dans cette zone : ${dataWhoAreInTile.length}`)
                  .closePopup();
            }
          }
        }
      }
    },

    // Handle selection of an option (radar or satellite mode)
    optionSelected(modeSend){
      this.initializeWeatherRadarMap(this.apiData,modeSend);
    },

    // Initialize the weather map based on the selected mode
    initializeWeatherRadarMap(apiData,modeSend){
      if(modeSend === this.lastModeSend){
        this.lastModeSend=0;
        modeSend=0;
      }
      if (modeSend === 0 ){
        this.map.removeLayer(this.radarLayer);
        this.timeToShow = "No time to show";
      }else{
        if (this.radarLayer){
          this.map.removeLayer(this.radarLayer);
        }
        let colorScheme = modeSend === 2 ? 0 : this.optionColorScheme;
        let smooth = modeSend === 2 ? 0 : this.optionSmoothData;
        let snow = modeSend === 2 ? 0 : this.optionSnowColors;
        console.log(apiData)
        if (modeSend===1){
          console.log(colorScheme)
          this.radarLayer = new L.TileLayer(apiData.host + apiData.radar.nowcast[2].path + '/' + 256 + '/{z}/{x}/{y}/' + colorScheme+ '/' + smooth + '_' + snow + '.png', {
            tileSize: 256,
            opacity: 0.5,
          });
          this.map.addLayer(this.radarLayer);

          this.timeToShow = "Prévision pour : " + new Date(apiData.radar.nowcast[2].time * 1000);

        }else if (modeSend === 2){
          this.radarLayer = new L.TileLayer(apiData.host + apiData.satellite.infrared[11].path + '/' + 256 + '/{z}/{x}/{y}/' + colorScheme + '/' + smooth + '_' + snow + '.png', {
            tileSize: 256,
            opacity: 0.8,
          });
          this.map.addLayer(this.radarLayer);
          this.timeToShow = "Heure du relevé : " + new Date(apiData.satellite.infrared[11].time * 1000);

        }
      }
      this.lastModeSend=modeSend;
    },

    // Update the color scheme of the weather map
    updateColorScheme(){
      if (this.radarLayer || this.lastModeSend === 0) {
        this.map.removeLayer(this.radarLayer);
      }
      this.radarLayer = new L.TileLayer(this.apiData.host + this.apiData.radar.nowcast[2].path + '/' + 256 + '/{z}/{x}/{y}/' + this.optionColorScheme + '/' + this.optionSmoothData + '_' + this.optionSnowColors + '.png', {
        tileSize: 256,
        opacity: 0.5,
      });
      this.map.addLayer(this.radarLayer);
    },
  },
};
</script>

<style scoped lang="scss">
#map {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#panelUser{
  position: absolute;
  z-index: 1;
  right: 10px;
  top:  10px;
  .icon{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 50px;
    border-radius: 10px;
    border: #252525 solid 2px;
    overflow: hidden;
    img{
      padding: 10px 24px ;
      height: 30px;
      background-color: white;
      cursor: pointer;
    }
    .satellite{
      border-left: #252525 solid 1px;
    }
    .radar{
      border-right: #252525 solid 1px;
    }
  }
  li{
    margin-top: 10px;
    list-style-type : none;
    select{
      background-color: white;
      padding: 10px 4px;
      border: #252525 solid 2px;
      border-radius: 10px;
    }
  }
}
.timeToShow{
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  background-color:white ;
  border: #252525 solid 2px;
  border-radius: 10px;
  p{
    padding: 10px;
    margin: 0;
  }
}
</style>
