<template>
  <div class="home">
    <Carte />
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {
    Carte: ()=>import('../components/Carte.vue')
  }
}
</script>

<style scoped lang="scss">
  .home{
    height: 100vh;
    width: 100vw;
  }
</style>
